@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#b_235 {
	background-color: #401480;
	border: 0;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 90px;
	overflow: hidden;
	position: relative;
	width: 728px;
	z-index: 1;
}

#b_235 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#b_235 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#el_236 {
	top: 15px;
	left: 30px;
	z-index: 1;
	mix-blend-mode: normal;
}

#img_236 {
	width: 69px;
	height: 60px;
}

#img_236.bnfy-enter {
	-webkit-animation: none 1000ms 0ms ease 1 both;
	animation: none 1000ms 0ms ease 1 both;
}

#el_258 {
	top: -6.72808837890625px;
	left: 336px;
	z-index: 2;
	mix-blend-mode: normal;
}

#img_258 {
	width: 212px;
	height: 104px;
}

#img_258.bnfy-enter {
	-webkit-animation: none 1000ms 0ms ease 1 both;
	animation: none 1000ms 0ms ease 1 both;
}

#el_265 {
	top: 29px;
	left: 578px;
	z-index: 3;
	mix-blend-mode: normal;
}

#img_265 {
	width: 120px;
	height: 32px;
}

#img_265.bnfy-enter {
	-webkit-animation: none 1000ms 0ms ease 1 both;
	animation: none 1000ms 0ms ease 1 both;
}

#el_6152 {
	top: 18.66064453125px;
	left: 556.6606292724609px;
	z-index: 4;
	mix-blend-mode: normal;
}

#img_6152 {
	width: 10px;
	height: 10px;
}

#img_6152.bnfy-enter {
	-webkit-animation: swirl-in-fwd 1000ms 4900ms ease 1 both, simple-hide 0ms 5700ms both;
	animation: swirl-in-fwd 1000ms 4900ms ease 1 both, simple-hide 0ms 5700ms both;
}

#img_6152.bnfy-exit {
	-webkit-animation: puff-out-center 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
	animation: puff-out-center 1000ms 5700ms ease 1 both, simple-show 0ms 5700ms both;
}

#el_6153 {
	top: 35.892120361328125px;
	left: 529.7293090820312px;
	z-index: 5;
	mix-blend-mode: normal;
}

#img_6153 {
	width: 22px;
	height: 22px;
}

#img_6153.bnfy-enter {
	-webkit-animation: swirl-in-fwd 1000ms 4200ms ease 1 both, simple-hide 0ms 5000ms both;
	animation: swirl-in-fwd 1000ms 4200ms ease 1 both, simple-hide 0ms 5000ms both;
}

#img_6153.bnfy-exit {
	-webkit-animation: puff-out-center 1000ms 5000ms ease 1 both, simple-show 0ms 5000ms both;
	animation: puff-out-center 1000ms 5000ms ease 1 both, simple-show 0ms 5000ms both;
}

#el_6158 {
	top: 63.255218505859375px;
	left: 559.2820434570312px;
	z-index: 6;
	mix-blend-mode: normal;
}

#img_6158 {
	width: 10px;
	height: 10px;
}

#img_6158.bnfy-enter {
	-webkit-animation: swirl-in-fwd 1000ms 3700ms ease 1 both, simple-hide 0ms 4500ms both;
	animation: swirl-in-fwd 1000ms 3700ms ease 1 both, simple-hide 0ms 4500ms both;
}

#img_6158.bnfy-exit {
	-webkit-animation: puff-out-center 1000ms 4500ms ease 1 both, simple-show 0ms 4500ms both;
	animation: puff-out-center 1000ms 4500ms ease 1 both, simple-show 0ms 4500ms both;
}

#el_7159 {
	top: 17.332000732421875px;
	left: 129.9000244140625px;
	z-index: 7;
	mix-blend-mode: normal;
}

#img_7159 {
	width: 334px;
	height: 33px;
}

#img_7159.bnfy-enter {
	-webkit-animation: none 1000ms 0ms ease 1 both;
	animation: none 1000ms 0ms ease 1 both;
}

#el_7160 {
	top: 59.204010009765625px;
	left: 130.82598876953125px;
	z-index: 8;
	mix-blend-mode: normal;
}

#img_7160 {
	width: 203px;
	height: 17px;
}

#img_7160.bnfy-enter {
	-webkit-animation: none 1000ms 0ms ease 1 both;
	animation: none 1000ms 0ms ease 1 both;
}

@media (print), (prefers-reduced-motion: reduce) {
	.banner__element {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
@-webkit-keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@-webkit-keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes swirl-in-fwd {
	0% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0
	}
	to {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1
	}
}

@keyframes swirl-in-fwd {
	0% {
		-webkit-transform: rotate(-540deg) scale(0);
		transform: rotate(-540deg) scale(0);
		opacity: 0
	}
	to {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
		opacity: 1
	}
}

@-webkit-keyframes puff-out-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
	to {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
}

@keyframes puff-out-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1
	}
	to {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(2px);
		filter: blur(2px);
		opacity: 0
	}
}
